.profile-form {
  display: flex;
	flex-direction: column;
  justify-content: space-evenly;
	height: 55vh;
	width: 100%;
  align-items: center;
  text-align: center;
  margin: 0;

  label {
		font-size: 2vh;
		width: 100%;
		display: flex;
    justify-content: flex-start;
		align-items: center;
		margin-left: 3%;
  }

  input {
		width: fit-content;
		max-width: 110px;
		height: 2.5vh;
    padding: 1%;
		margin-left: 2%;
		background-color: #3F657D;
    border: solid 1px #3F657D;
    border-radius: 3px;
    color: #FFF6E9;
		font-size: 1.3vh;
		font-family: 'Capriola', sans-serif;
  }

  button {
		border-radius: 3px;
    width: 36%;
    height: 2em;
    font-family: 'Capriola', sans-serif;
    border: none;
    font-size: .45em;
    background-color: #83C7DF;
    color: #FFF6E9;
    align-self: center;
  }
}

