.reports {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	color: #FFF6E9;
	font-family: 'Capriola', sans-serif;
	font-size: 3.5vh;
}

// .reports-container {
// 	margin-top: 10%;
// 	height: 45vh;
// 	display: flex;
// 	flex-wrap: nowrap;
// 	align-items: center;
// 	border-radius: 17px;
// 	background-color: #172A35;
// 	padding: 15px;
// 	overflow-x: auto;
// }

.slider {
	height: 45vh;
}

.carousel .slide {
	background: #172A35;
	background-color: #172A35;
	border-radius: 17px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.carousel .carousel-status {
	display: none;
}

.carousel .slide .legend {
	font-size: 15px;
	height: 20%;
	text-align: left;
}

.display-chart {
	width: 90vw;
	height: 40vh;
	display: flex;
	justify-content: center;
	background-color: white;
	border-radius: 10px;
}