.reports {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	color: #FFF6E9;
	font-family: 'Capriola', sans-serif;
	font-size: 3.5vh;
}

.reports-container {
	margin-top: 10%;
	height: 45vh;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	border-radius: 17px;
	background-color: #172A35;
	padding: 15px;
	overflow-x: auto;
}

.display-chart {
	width: 90vw;
	color: white;
	font-size: 4vh;
}

.slider {
	height: 45vh;
}

.carousel .slide {
	background: #172A35;
	background-color: #172A35;
	border-radius: 17px;
}

.carousel .carousel-status {
	display: none;
}

.carousel .slide .legend {
	font-size: 15px;
	height: 20%;
	text-align: left;
}

.display-chart {
	width: 100vw;
	height: 40vh;
	display: flex;
	flex-direction: column;
	margin-top: 20%;
}