.profile {
  height: 90vh;
	background-color: #233C4C;
  width: 100%;
  display: flex;
  flex-direction: column;
	align-items: center;
	overflow: scroll;

  h1 {
    margin-bottom: 5%;
    margin-top: 4%;
  }
}

.profile-container {
  color: #FFF6E9;
  font-family: 'Capriola', sans-serif;
  font-size: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #172A35;
  border-radius: 10px;
	width: 90%;
	min-height: 220px;
	text-align: left;
	padding: 10px;
}

.logout-button {
	background-color: #7582C8;
	border: solid 1px #3F657D;
	border-radius: 3px;
	height: 3em;
	color: #FFF6E9;
	font-family: 'Capriola', sans-serif;
	margin-top: .5em;
	width: 30vw;
	max-width: 90px;
	max-height: 50px;
	font-size: 1.1em !important;
}

.profile-info {
	color: #FBCE90;
}
