.profile {
  height: 90vh;
	background-color: #233C4C;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-bottom: 5%;
    margin-top: 4%;
  }
}

.profile-container {
  color: #FFF6E9;
  font-family: 'Capriola', sans-serif;
  font-size: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #172A35;
  border-radius: 10px;
  width: 90%;
}

.logout-button {
  border-radius: 10px;
  margin-top: 35%;
  padding: 10%;
  align-self: center;
  font-family: 'Capriola', sans-serif;
  border: none;
  font-size: 2.5vh;
  background-color: #83C7DF;
  color: #172A35;
}
